[Desktop Entry]
Name=loselog
GenericName=Log file viewer
Exec=loselog %F
Icon=loselog
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=loselog --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=loselog --multi %F
Name=Open In A New loselog Window
